/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.banner {
  position: relative;
  height: 100%;
  min-height: 500px;
  width: 100%;
  
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
.banner:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.sub-banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.row-container {
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.skill-container {
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  max-width: 1000px;
  max-height: 1000px;
  padding-bottom: 30px;
  text-align: center;
}

.info {
  font: 16px/24px 'librebaskerville-italic', serif;
  color: #6E7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
.info span {
  margin-right: 5px;
  margin-left: 5px;
}

.line-spacer {
  height: 670px;
  width: 2px;
  background-color: black;
  margin: 0 20px;
  display: inline-block;
}

.left-col { padding-right: 50%; }

.right-col { padding-left: 50%; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { cursor: pointer; }

.app-container {
    min-height: 1650px;
    background-color: "#164773";
}

.nav {
  background-color: blue;
}

.section {
  height: auto;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: "#164773";
}

.container-header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: "#164773";
}

.container-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.primary-btn {
  margin: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}

.header-wrapper {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-text {
  text-shadow: 0 0 1px white; 
  color: black;
  text-align: center;
  flex-grow: 1;
}

.highlight-text-white {
  text-shadow: 0 0 1px black 0 0 1px black 0 0 1px black; 
  color: white;
  text-align: center;
  flex-grow: 1;
}

/* Vertical  Srolling Pagination */
.main section {
  margin: 0;
  height: 100vh;
}
.main section:nth-child(1) {
  background-color: #3e5050;
}
.main section:nth-child(2) {
  background-color: #495f5f;
}
.main section:nth-child(3) {
  background-color: #546d6d;
}
.main section:nth-child(4) {
  background-color: #5f7c7c;
}
.main section:nth-child(5) {
  background-color: #6b8a8a;
}
.main section h1 {
  font-size: 38px;
  color: #fff;
  margin: 0;
  padding: 50px 0 20px;
  text-align: center;
}

#pagination {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  list-style: none;
}
#pagination li {
  position: relative;
  margin: 20px 0;
  background: #fff;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  transition: all 0.2s ease;
}
#pagination li:hover {
  transform: scale(2.5);
}
#pagination a {
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0;
  color: inherit;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
}
body.page-1 #pagination li:nth-of-type(1), body.page-2 #pagination li:nth-of-type(2), body.page-3 #pagination li:nth-of-type(3), body.page-4 #pagination li:nth-of-type(4), body.page-5 #pagination li:nth-of-type(5) {
  transform: scale(2);
}